:root {
    --background: #f3efe4;
    --text: #181818;
    --muted: #66645f;
    --border: #b7b2a8;

    --content-width: 1200px;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    border-bottom: 1px solid var(--border);
}

nav {
    display: flex;
    gap: 1.5rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    font-family: Georgia, serif;
}

.project-tech {
    color: var(--muted);
    font-family: "Space Mono", monospace;
}

article {
    padding-block: 2rem;
    border-bottom: 1px solid var(--border);
}

.coursework {
    color: var(--muted);
}

h1,
h2,
nav,
.label {
    font-family: "Space Mono", monospace;
}

header h1 {
    font-size: clamp(1.75rem, 4vw, 3rem);
    line-height: 1;
    margin: 0;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 3rem);
}

p {
    font-size: 1.05rem;
    line-height: 1.7;
}

p {
    max-width: 70ch;
}

section {
    padding-block: 7rem;
}

header,
main,
footer {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

@media (max-width: 700px) {
    section {
        padding-block: 4rem;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}